body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsla(0, 29%, 84%, 0.38)
}
h1{
    color: hsl(239, 74%, 40%);
}
form{
    text-align: center;
    padding:10%;
    margin: auto;
    background-color: antiquewhite;
    max-width: 350px;
    box-shadow: 5px 5px 12px;
    border-radius: 10px;
}
#textbox{
    text-align: center;
    font-size: xx-large;
    margin-bottom: 20px;
}
label{
    font-size: xx-large;
}
button{
    margin-top: 15px;
    background-color: hsl(36, 37%, 65%);
    border: none;
    padding: 10%;
    border-radius: 5px;
}
#result{
    font-weight: bold;
}